<li>
    {{name}}

    <button class="change-devoured" data-id="{{id}}" data-neweats="{{devoured}}">
        {{#if devoured}}CONSUME!{{else}}Cook up burger again{{/if}}
    </button>

    <button class="delete-burger" data-id="{{id}}">
        DELETE!
    </button>
</li>